body {
    font-family: sans-serif;
    padding: 50px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;

}

.main {
    background-color: aliceblue;
    width: 70%;
    margin: auto;
    padding: 50px;
    min-height: 800px;
    border-radius: 30px;
    position: static;

}



.note-1 {


    position: sticky;
    background-color: rgb(243, 177, 170);
    width: 300px;
    height: 150px;
    padding: 20px;
    margin: 30px 0px;
    border-radius: 20px;
    box-shadow: 0 10px 10px gray;
    font-family: sans-serif;
    top: 0;
    left: 0;
    right: 0;
}



.note-2 {

    position: static;
    background-color: rgb(191, 182, 217);
    width: 300px;
    height: 150px;
    padding: 20px;
    margin: 30px 0px;
    border-radius: 20px;
    box-shadow: 0 10px 10px gray;
    font-family: sans-serif;

}



.note-3 {
    position: absolute;
    background-color: rgb(195, 229, 214);
    width: 300px;
    height: 150px;
    padding: 20px;
    margin: 30px 0px;
    border-radius: 20px;
    box-shadow: 0 10px 10px gray;
    font-family: sans-serif;
    top: 10px;
    right: 0;

}

.note-4 {
    position: relative;
    background-color: rgb(185, 224, 240);
    width: 300px;
    height: 150px;
    padding: 20px;
    margin: 30px 0px;
    border-radius: 20px;
    box-shadow: 0 10px 10px gray;
    font-family: sans-serif;
    right: 200px;
    left: 500px;
}

.note-5 {
    position: fixed;
    background-color: rgb(243, 200, 167);
    width: 300px;
    height: 150px;
    padding: 20px;
    margin: 30px 0px;
    border-radius: 20px;
    box-shadow: 0 10px 10px gray;
    font-family: sans-serif;
    bottom: 10px;
    right: 10px;

}