* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
}

/* dekstop */
nav {
    display: flex;
    gap: 15px;
}


.logo {
    background-color: #930417;
    width: 20%;
    height: 75px;
    color: white;
    text-align: center;
    align-content: center;
    font-size: xx-large;
}

.menu {
    background-color: #cc3333;
    width: 80%;
    height: 75px;
    color: white;
    text-align: center;
    align-content: center;
    font-size: xx-large;
}


.main {
    display: flex;
    gap: 10px;
}

.left {
    width: 80%;
    height: 550px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header {
    background-color: #330000;
    height: 150px;
    color: white;
    text-align: center;
    align-content: center;
    font-size: xx-large;
    margin-top: 10px;
}

article {
    display: flex;
    gap: 10px;
    height: 300px;
    width: 100%;
}

.container2 {
    width: 70%;
    height: 300px;
    display: flex;
    flex-direction: column;
}

.row1 {
    display: flex;
    gap: 15px;
}


.row2 {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.article1 {

    height: 150px;
    width: 50%;
    background-color: #adadad;
    color: white;
    text-align: center;
    align-content: center;
    font-size: xx-large;
}


.article2 {
    height: 150px;
    width: 50%;
    background-color: #adadad;
    color: white;
    text-align: center;
    align-content: center;
    font-size: xx-large;
}

.article3 {
    height: 150px;
    width: 50%;
    background-color: #adadad;
    color: white;
    text-align: center;
    align-content: center;
    font-size: xx-large;
}

.article4 {
    height: 150px;
    width: 50%;
    background-color: #adadad;
    color: white;
    text-align: center;
    align-content: center;
    font-size: xx-large;
}



.social {
    width: 145%;
    background-color: #996666;
    height: 315px;
    color: white;
    text-align: center;
    align-content: center;
    font-size: xx-large;
}


.right {

    width: 20%;
}


.ads {
    background-color: #cc9999;
    height: 540px;
    margin-top: 10px;
    color: white;
    text-align: center;
    align-content: center;
    font-size: xx-large;
}

footer {
    display: flex;
    gap: 10px;
    height: 200px;
}

.footer {
    background-color: #330000;
    width: 80%;
    gap: 10px;
    margin-top: 15px;
    height: 129px;
    color: white;
    text-align: center;
    align-content: center;
    font-size: xx-large;
}

.tagcloud {
    background-color: #650000;
    width: 20%;
    gap: 10px;
    margin-top: 15px;
    height: 129px;
    color: white;
    text-align: center;
    align-content: center;
    font-size: xx-large;
}

.tab-social {
    width: 20%;
}

.tab-tag-cloud {
    display: none;
}

@media (max-width: 758px) {
    .main {
        flex-direction: column-reverse;
    }

    .right {
        width: 100%;
    }

    .ads {

        height: 100px;
    }


    .left {
        width: 100%;
    }

    article {
        flex-direction: column;
        height: 400px;
    }

    .container2 {
        width: 100%;
    }


    .boxes {
        width: 100%;
    }

    .tab-social {
        width: 100%;
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }

    .social {
        width: 50%;
        height: 100px;
    }

    .tab-tag-cloud {
        display: block;
        background-color: #650000;
        width: 50%;
        height: 100px;
        color: white;
        text-align: center;
        align-content: center;
        font-size: xx-large;

    }

    .tagcloud {
        display: none;

    }

    .footer {
        width: 100%;
    }
}



/* mobile */



@media (max-width: 600px){
 .logo{
    width: 100%
 }
  

 .menu{
    width: 100%;
 }

 .row1{
    flex-direction: column;
 }

 .row2{
display: none;
 }

 .article1{
    width: 100%;
    height: 125px;
 }

 .article2{
    width: 100%;
    height: 125px;
 }

 .tab-tag-cloud {
display: none;
 }

 .social{
    width: 100%;
    height: 100px;}

    footer{
flex-direction: column;
    }

    .tagcloud{
        display: block;
        width: 100%;
    }
 
 }