.box-1{

    background-color: #ff6e61;

}






.box-2{

    background-color: rgba(106, 91, 148);

}






.box-3{

background-color: hsl(84, 48%, 35%);

}






.box-4{

background-color: #f6cac9;

}







.box-5{

 background-color: rgba(145, 168, 209);

}







.box-6{

background-color: hsl(1, 38%, 45%);

}




.box-7{

background-color: #b564a7;

}





.box-8{

background-color: rgba(0, 154, 118);


}

.box-9{

background-color: hsl(10, 86%, 42%);

}

.box-10{

    background-color: #44b8ad;

}


.box-11{

    background-color: rgba(239, 191, 80);

}


.box-12{

    background-color: hsl(238, 38%, 57%);
}

 