@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');





@font-face {
    font-family: Montserrat;
    src: url(font/Montserrat/static/Montserrat-BlackItalic.ttf);
}

@font-face {
    font-family: roboto;
    src: url(font/Roboto/static/Roboto-BlackItalic.ttf);
}

.card-1 {
    background-color: #bde2e9;
    width: 300px;
    height: 400px;
    border-radius: 30px;
    font-family: 'Arial Narrow';
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    

    h1 {

        font-family: Montserrat;
        font-weight: 900px;
    }


}


.card-2 {

    background-color: #d7b298;
    width: 300px;
    height: 400px;
    border-radius: 30px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

    h1 {

        font-family: roboto;
        font-weight: 900px;
    }

    font-family: 'Arial Narrow';
}

.card-3 {
    background-color: #d8e8c9;
    width: 300px;
    height: 400px;
    border-radius: 30px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

    h1 {
        font-family: "Open Sans", sans-serif;
        font-weight: 900;
    }

    font-family: 'Arial Narrow';
}


.card-4 {

    background-color: #d4ceeb;
    width: 300px;
    height: 400px;
    border-radius: 30px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

    h1 {
        font-family: "Playfair Display", serif;
        font-weight: 900;
    }

    font-family: 'Arial Narrow';
}


.card-5 {
    background-color: #d9d8da;
    width: 300px;
    height: 400px;
    border-radius: 30px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

    h1 {
        font-family: '' Arial, Arial;
        font-weight: 900;
    }

    font-family: 'Arial Narrow';

}




.card-6 {

    background-color: #faeab1;
    width: 300px;
    height: 400px;
    border-radius: 30px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

    h1 {
        font-family: Verdana;
        font-weight: 900;
    }

    font-family: 'Arial Narrow';
}



div:hover{
    zoom: 1.1;
}